<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= dog.name %></title>
</head>
<body>
  <h1><%= dog.name %></h1>
  <% if (dog.likesToPlay) { %>
      <p>This dog likes to play!</p>
  <% } else { %>
      <p>This dog does not like to play!</p>
  <% } %>
</body>
</html>